.thumbnail-actor {
	width:140px; 
	height:190px;
}
.thumbnail-actor-list {
	width:140px; 
	height:190px;
}
.img-actor {
	width:160px; 
	height:230px;
}
.img-actor-list {
	width:130px; 
	height:180px;
}
.img-no-actor-list {
	width:130px; 
	height:180px;
}
.img-no-actor {
	width:130px; 
	height:180px;
}
dt, dd {
  min-height: 25px;
  max-height: 140px;
  overflow-y:auto;
}
.thumbnail-movie {
	width:140px; 
	height:190px;
}
.thumbnail-movie-list {
	width:140px; 
	height:190px;
}
.img-movie-list {
	width:130px; 
	height:180px;
}
.img-no-movie-list {
	width:120px; 
	height:170px;
}
.img-no-movie {
	width:130px; 
	height:180px;
}

img.ng-thumb {
    height: 150px !important;
    float: left !important;
    display: block !important;
    cursor: pointer !important;
    margin: 2px 15px 0 0 !important;
}

.ng-gallery {
	height: 170px !important;
	overflow-x: scroll !important;
	display: flex !important;
}